body, html {
  font-family: 'Inconsolata', monospace;
  height: 100%;
  margin: 0;
  background-color: grey;
}

#intro {
  height: 100%;
  background-color: grey;
  padding-top: 100px;
  padding-left: 100px;
}

#about {
  background-color: white;
  padding: 100px;
}

#team {
  display: flex;
}
#joyce {
  flex: .5;
  background: lightblue;
  /* Just so it's visible */
  padding: 20px;
}
#caroline {
  flex: .5;
  /* Grow to rest of container */
  background: lightgreen;
  /* Just so it's visible */
  padding: 20px;
}

#contact {
  background-color: grey;
  padding: 100px;
}
